<template>
  <div class="col-12 pie-pagina">
    <div class="col-md-4 div_izq">
      <a href="https://ahorraseguros.mx/" class="centeronlysm">
        <img src="~/static/img/grupo-ahorra.png" class="imlogoahorrafooter" alt="logotipo Ahorra Seguros México 2019"/>
      </a>
    </div>
    <div class="col-md-4 div_izq">
      <a href="#" class="a_title">
        Cotizador de Seguros de Auto
      </a>
    </div>
    <div class="col-md-4 div_izq">
      <a href="#" class="a_title">
        Comparador de Seguros de Auto
      </a>
    </div>

    <div class="col-md-12 div_izq espacio_down lista_seguros">
      <a href="#" class="foot_link">Seguros de autos</a>
      <a href="#" class="foot_link">Seguros para Taxis</a>
      <a href="#" class="foot_link">Aseguradoras</a>
      <a href="#" class="foot_link">Seguros de Hogar</a>
      <a href="#" class="foot_link">Seguros de Vida</a>
      <a href="#" class="foot_link">Gastos Médicos</a>
      <a href="#" class="foot_link">Seguros para Uber</a>
      <a href="#" class="foot_link">Seguros para Motos</a>
      <a href="#" class="foot_link">Comparador de Seguros</a>
      <a href="#" class="foot_link">Seguro de casa</a>
      <a href="#" class="foot_link">Blog</a>
    </div>
    <p class="txt_footer espacio_up">© 2019 AhorraSeguros. Todos los derechos reservados. El uso de este sitio implica que aceptas nuestros</p>
    <p class="txt_footer"><a href="https://ahorraseguros.mx/terminos-y-condiciones/" class="">Términos y condiciones</a>, así como el <a href="https://ahorraseguros.mx/aviso-de-privacidad/" class="">Aviso de privacidad</a>.</p>
  </div>
</template>

<style>
  .imlogoahorrafooter{
    width: 45px;
  }
  .pie-pagina{
    background: #f5f5f5 !important;
    padding: 2px;
    padding-top: 15px;
    width: 100%;
  }
  .txt_footer{
    text-align: center;
    font-weight: 600;
    line-height: 5px;
    font-size: 13px;
  }
  a{
    text-decoration: none !important;
    color: #044f99 !important;
  }
  .a_title{
    color:#9e9e9e !important;
    font-weight: bold;
  }
  .div_izq{
    display: block;
    float: left;
    padding-bottom: 13px;
    text-align: center;
  }
  a.foot_link {
    padding-left: 20px;
    font-weight: 500;
  }

  /*MEDIAS QUERIES PARA MOBILE*/
  @media(min-width:320px) and (max-width:768px){.centeronlysm{text-align:center;}.lista_seguros{display:none;}.txt_footer{line-height:unset;font-size: 10px;}}
  @media(min-width:992px){.lista_seguros{display:block !important;}.txt_footer{text-align: center;font-weight: 600;line-height: 5px;font-size: 13px;}}

  /*@media(min-width:1500px ){*/
  /*  .pie-pagina{*/
  /*    position: absolute;*/
  /*    bottom: 0;*/
  /*  }*/
  /*}*/
</style>
