<template>
  <div class="container-fluid seccion-formulario">
    <div class="row espacio-20 espacio-down20">
      <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
        <div class="container ctn-formulario">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title-blue">
              <h3 class="txt-font">Datos de Solicitud</h3>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h5 class="espacio-up txt-rule">Verifica que la vacante y la sede sean correctos:</h5>
            </div>
          </div>
          <b-form @submit.prevent="onSubmit">
            <!--**PRIMER ROW CON 2 INPUTS*****-->
            <div class="row">
              <!--SELECT VACANTE-->
              <div class="col-md-6">
                <b-form-group id="exampleInputGroup2"
                              label="Vacante:"
                              :class="{'has-error': errors.has('vacante') }"
                              label-for="exampleInput2">
                  <b-form-select id="vacante"  name="vacante" v-model="form.idVacante">
                    <!--<option value="0" selected>Selecciona la vacante de tu interés</option>-->
                    <option v-for="o in options" :value="o.id" v-bind:key="o.id">{{o.nombre}}</option>
                  </b-form-select>
                </b-form-group>
              </div>
              <!--INPUT SEDE-->
              <div class="col-md-6">
                <b-form-group id="exampleInputGroup2"
                              label="Sede:"
                              :class="{'has-error': errors.has('sede') }"
                              label-for="exampleInput2">
                  <b-form-input id="sede"
                                type="text"
                                name="sede"
                                v-model="form.nombre"
                                v-validate="{ required: true }"
                                maxlength="30"
                                required
                  ></b-form-input>
                  <!--              <small class="text-danger" v-if="errors.has('nombre')"><i class="fa fa-exclamation-triangle"> {{-->
                  <!--                errors.first('nombre') }} </i></small>-->
                </b-form-group>
              </div>
            </div>
            <!--**SEGUNDO ROW CON 2 INPUTS******************************************************-->
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h5 class="espacio-up txt-rule">Para postularte llena el siguiente formulario:</h5>
              </div>
              <!--INPUT NOMBRE-->
              <div class="col-md-6">
                <b-form-group id="exampleInputGroup2"
                              label="Nombre:"
                              :class="{'has-error': errors.has('nombre') }"
                              label-for="exampleInput2">
                  <b-form-input id="nombre"
                                type="text"
                                name="nombre"
                                v-model="form.nombre"
                                v-validate="{ required: true }"
                                placeholder="Nombre"
                                maxlength="30"
                                required
                  ></b-form-input>
                  <small class="text-danger" v-if="errors.has('nombre')"><i class="fa fa-exclamation-triangle"> {{
                    errors.first('nombre') }} </i></small>
                </b-form-group>
              </div>

              <!--INPUT Apellido Paterno-->
              <div class="col-md-6">
                <b-form-group id="exampleInputGroup2"
                              label="Apellido Paterno:"
                              :class="{'has-error': errors.has('aPaterno') }"
                              label-for="exampleInput2">
                  <b-form-input id="aPaterno"
                                name="aPaterno"
                                type="text"
                                v-model="form.apellidoPaterno"
                                v-validate="{ required: true }"
                                placeholder="Apellido P."
                                maxlength="30"
                                required
                  > </b-form-input>
                  <small class="text-danger" v-if="errors.has('aPaterno')"><i class="fa fa-exclamation-triangle"> {{
                    errors.first('aPaterno') }} </i></small>
                </b-form-group>
              </div>
            </div>

            <!--**TERCER ROW CON 2 INPUTS******************************************************-->
            <div class="row">
              <!--INPUT APELLIDO MATERNO-->
              <div class="col-md-6">
                <b-form-group id="exampleInputGroup2"
                              label="Apellido Materno:"
                              :class="{'has-error': errors.has('aMaterno') }"
                              label-for="exampleInput2">
                  <b-form-input id="aMaterno"
                                type="text"
                                name="aMaterno"
                                v-model="form.apellidoMaterno"
                                v-validate="{ required: true }"
                                placeholder="Apellido M."
                                maxlength="30"
                                required
                  ></b-form-input>
                  <small class="text-danger" v-if="errors.has('aMaterno')"><i class="fa fa-exclamation-triangle"> {{
                    errors.first('aMaterno') }} </i></small>
                </b-form-group>
              </div>
              <!--INPUT EDAD-->
              <div class="col-md-6">
                <b-form-group id="edad"
                              label="Edad:"
                              :class="{'has-error': errors.has('edad') }"
                              label-for="exampleInput1">
                  <b-form-input id="edad"
                                type="number"
                                name="edad"
                                v-model="form.edad"
                                v-validate="{ required: true }"
                                placeholder="Edad"
                                maxlength="3"
                                required
                  ></b-form-input>
                  <small class="text-danger" v-if="errors.has('telefono')"><i class="fa fa-exclamation-triangle"> {{
                    errors.first('edad') }} </i></small>
                </b-form-group>
              </div>
            </div>

            <!--**CUARTO ROW CON 2 INPUTS******************************************************-->
            <div class="row">
              <div class="col-md-6">
                <b-form-group id="exampleInputGroup1"
                              label="Correo:"
                              :class="{'has-error': errors.has('correo') }"
                              label-for="exampleInput1">
                  <b-form-input id="correo"
                                type="email"
                                name="correo"
                                v-model="form.correo"
                                v-validate="{ required: true }"
                                placeholder="@email"
                                required
                  ></b-form-input>
                  <small class="text-danger" v-if="errors.has('correo')"><i class="fa fa-exclamation-triangle"> {{
                    errors.first('correo') }} </i></small>
                </b-form-group>
              </div>

              <div class="col-md-6">
                <b-form-group id="exampleInputGroup1"
                              label="Teléfono:"
                              :class="{'has-error': errors.has('telefono') }"
                              label-for="exampleInput1">
                  <b-form-input id="telefono"
                                type="number"
                                name="telefono"
                                v-model="form.telefono"
                                v-validate="{  required: true }"
                                placeholder="Número de Teléfono"
                                maxlength="15"
                                required
                  ></b-form-input>
                  <small class="text-danger" v-if="errors.has('telefono')"><i class="fa fa-exclamation-triangle"> {{
                    errors.first('telefono') }} </i></small>
                </b-form-group>
              </div>
            </div>

            <input type="hidden" v-model="form.idReclutador" name="idReclutador" id="idReclutador">
            <input type="hidden" v-model="form.estado" name="estado" id="estado">
            <input type="hidden" v-model="form.idBolsaTrabajo" name="estado" id="idBolsaTrabajo">
            <input type="hidden" v-model="form.idVacante" name="estado" id="idVacante">
            <!--OTRO ROW DEL FORMULARIO-->
            <div class="row">
              <div class="col-md-6">
                <b-form-group id="exampleInputGroup1"
                              label="Código Postal:"
                              :class="{'has-error': errors.has('cp') }"
                              label-for="exampleInput1">
                  <b-form-input id="cp"
                                type="text"
                                name="cp"
                                v-model="form.cp"
                                v-validate="{  required: true }"
                                placeholder="Código Postal"
                                maxlength="5"
                                required
                  ></b-form-input>
                  <small class="text-danger" v-if="errors.has('telefono')"><i class="fa fa-exclamation-triangle"> {{
                    errors.first('cp') }} </i></small>
                </b-form-group>
              </div>
              <!--INPUT DE SUBIR CV-->
              <div class="col-md-6">
                <div class="">Subir CV: {{ file2 ? file2.name : '' }}</div>
                <b-form-file v-model="file2" class="mt-3" plain></b-form-file>
              </div>
            </div>
            <!--ULTIMO ROW CON BOTON DE ENVIAR SOLICITUD-->
            <div class="row">
              <div class="col-md-12 espacio-20">
                <b-button type="submit" variant="primary">Enviar Solicitud</b-button>
              </div>
            </div>
          </b-form>

        </div>
      </div>
      <!--SECCION DE COMPARTIR VACANTES-->
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-center">
        <div class="container ctn-compartir">
          <div class="row color-fondo">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 espacio-20">

              <h5 class="txt-comparte">¡Comparte esta vacante con tus amigos!</h5>
            </div>
          </div>
          <div class="row color-fondo ctn-centrar">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  espacio-20">
              <p class="txt-rule">Copia y comparte la URL</p>
              <b-button class="btn-share" variant="primary">Copiar URL</b-button>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 espacio-20">
              <p class="txt-rule">Manda la URL por correo eléctronico</p>
              <b-button class="btn-share2" variant="primary">Enviar</b-button>
              <b-form-group id="exampleInputGroup1"
                            :class="{'has-error': errors.has('correo') }"
                            label-for="exampleInput1">
                <b-form-input id="correo"
                              class="inp-send"
                              type="email"
                              name="correo"
                              v-model="form.correo"
                              v-validate="{ required: true }"
                              placeholder="@email"
                              required
                ></b-form-input>
                <small class="text-danger" v-if="errors.has('correo')"><i class="fa fa-exclamation-triangle"> {{
                  errors.first('correo') }} </i></small>
              </b-form-group>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>
<script>
  import base64 from 'base-64';
  import axios from 'axios';

  export default {

    data() {

      return {
        form: {
          correo: '',
          nombre: "",
          apellidoPaterno: '',
          apellidoMaterno: '',
          edad: '',
          telefono: '',
          cp: '',
          idReclutador: '',
          estado: '',
          idBolsaTrabajo: '',
          idVacante: '',
          idVacantes:0
        },
        bolsaTrabajo: [],
        show: true,
        options:[],
      }

    },
    methods: {
      onSubmit(evt) {
        this.$validator.validate().then(valid => {
          if (valid) {

            axios.post('https://pruebas.ahorraseguros.mx/mark43-service/v1/solicitudes', {
              correo: this.form.correo.toUpperCase(),
              nombre: this.form.nombre.toUpperCase(),
              apellidoPaterno: this.form.apellidoPaterno.toUpperCase(),
              apellidoMaterno: this.form.apellidoMaterno.toUpperCase(),
              edad: this.form.edad,
              telefono: this.form.telefono,
              cp: this.form.cp,
              idReclutador: this.form.idReclutador,
              estado: this.form.estado,
              idBolsaTrabajo: this.form.idBolsaTrabajo,
              idVacante: this.form.idVacante
            }).then(
              this.$router.push('/gracias')
            ).catch(error => {
              console.log(error)
              console.log(this.form)
            })
            console.log(this.form)
          }
        });

      },
      getBolsaTrabajo: function () {
        axios.get('https://pruebas.ahorraseguros.mx/mark43-service/v1/bolsa-trabajo')
          .then(
            response => {
              this.bolsaTrabajo = response.data;
            }
          );
      },
      getVacantes: function () {
        axios.get('https://pruebas.ahorraseguros.mx/mark43-service/v1/vacantes')
          .then(
            response => {
              this.options = response.data;
            }
          );
      },
    },
    created() {
      this.getBolsaTrabajo();
      this.getVacantes();
      var arrayData=[];
      var data=[];
      try{
        arrayData = base64.decode(this.$route.query.id);
        data = JSON.parse(arrayData);
      }catch (e) {

      }

      console.log(arrayData);
      console.log(data);


      this.form.correo = '';
      this.form.nombre = '';
      this.form.edad = '';
      this.form.cp = '';
      this.form.telefono = '';
      this.form.idReclutador = data.idReclutador;
      this.form.estado = 1;
      this.form.idBolsaTrabajo = data.idBolsaTrabajo;
      this.form.idVacante = data.idVacante

      console.log(this.form.idReclutador)
    },

  }
</script>


<style>
  .container.seccion-formulario{
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .ctn-formulario{
    width: 46%;
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.4) !important;
    background: white;
  }
  .ctn-compartir{
    width: 80%;
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.4) !important;
    background: white;
    margin-top: 150px;
  }
  .title-blue{
    background: #014f98;
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  button.btn.btn-primary {
    background: #014f98;
    width: 60%;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
  }
  .btn-share{
    width: 100% !important;
    margin: 0 auto !important;
    display: block !important;
  }
  .btn-share2{
    width: 25% !important;
    float: right;
  }
  .inp-send{
    width: 74%;
  }
  .espacio-up{
    margin-top: 12px;
  }
  .espacio-down20{
    margin-bottom: 30px;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c4c4c4 !important;
    opacity: 1; /* Firefox */
  }
  .txt-rule{
    font-size: 16px;
  }
  .espacio-20{
    margin-top: 20px;
  }
  .txt-comparte{
    color: #014f98;
    text-align: center;
  }
  .ctn-centrar{
    width: 90%;
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
  }
  @media(min-width:320px) {
    .ctn-formulario {
      width: 90%;
    }
    .txt-font {
      font-size: 20px;
    }
  }
  @media(min-width:768px) {
    .ctn-formulario {
      width: 80%;
    }
    .txt-font {
      font-size: 28px;
    }
  }
  </style>
