<template>
  <!--Menu del sitio-->
  <nav class="navbar py-1">
    <a class="navbar-brand p-0" href="https://ahorraseguros.mx/" target="_blank">
      <img src="img/grupo-ahorra.png" class="imlogoahorrasegurosnew" alt="logotipo Ahorra Seguros México 2019"/>
      <a href="tel:+5528815934"><img src="img/img-tel.png" class="button-tel" alt="telefono Ahorra Seguros"></a>
    </a>
    <div class="col-md-4 tel">
      <a class="navbar-brand p-0 link-telefono"  href="tel:+5528815934" target="_blank">
        <img src="img/call-answer.svg" class="img_tel" alt="telefono Ahorra Seguros México 2019" /> (55) 00000000
      </a>
    </div>
  </nav>
</template>

<!--ESTILOS-->
<style>
  /**SECCION DE MENU**/
  .navbar{
    background: #f5f5f5 !important;
    height: 50px;
    width: 100%;
    z-index: 2222;
  }
  .logo {
    margin-left: 60px;
    margin-top: 5px;
  }
  .col-md-4.tel {
    /* border: 1px solid; */
    width: 245px;
    padding: 0px;
    display: inline-block;
    float: right;
    padding-top: 7px;
    margin-right: 2px;
  }

  a.navbar-brand.p-0 {
    font-size: 15px;
    color: #044f99;
    font-weight: bold;
  }

  .imlogoahorrasegurosnew{
    max-width: 100px;
    display: inline-block;
    margin-left: 200px;
  }
  .img_tel{
    background: #044f99;
    border-radius: 30px;
    display: inline-block;
    margin-left: 70px;
    width: 26px;
    padding: 5px;
  }

  @media(min-width:320px){
    .imlogoahorrasegurosnew {
      margin-left: 55px;
    }

    .link-telefono{
      font-size:10px !important;
      display:none;
    }
    .img_tel{
      display: none;
    }
    .button-tel {
      display: inline !important;
      width: 40px;
    }
  }
  @media(min-width:480px) and (max-width:768px){
    .link-telefono{
      font-size:14px !important;
    }
  }
  @media(min-width:480px){
    .button-tel {
      margin-left: 150px;
    }
  }
  @media(min-width: 640px){
    .button-tel {
      margin-left: 265px;
    }
  }
  @media(min-width: 768px){

    .button-tel {
      margin-left: 415px;
    }
  }
  @media(min-width:992px){
    .imlogoahorrasegurosnew{
      margin-left: 125px;
    }
    .link-telefono{
      font-size:17px !important;
      display: inline;
    }
    .img_tel{
      display: inline;
    }
    .button-tel {
      display:none !important;
    }
  }
  @media(min-width:1200px){
    .imlogoahorrasegurosnew {
      margin-left: 160px;
    }
  }
  @media(min-width:1300px){
    .imlogoahorrasegurosnew {
      margin-left: 200px;
    }
  }
  @media(min-width:1400px){
    .imlogoahorrasegurosnew {
      margin-left: 300px;
    }
  }
  @media(min-width:1500px){
    .imlogoahorrasegurosnew {
      margin-left: 300px;
    }
  }
</style>
