<template>
  <div class="container-fluid fondo-gris espacio-abajo">
    <div class="container">
   <div class="row fondo-gris seccion-1">
    <div class="col-lg-5  col-sm-6 ">
      <h2 class="section-heading">¿Por qué trabajar<br>en<b class="colorblue bold"> Ahorra Seguros</b>?</h2>
      <p class="lead" align="justify"><b>Ahorra Seguros</b> #1 en ventas de seguros de autos por internet en México.
        Somos uno de los partners más grandes en la industria de los <b>seguros de autos</b>, trabajamos con las aseguradoras más importantes ayudándoles
        a colocar su producto asegurador. Ayudamos a más de 2,800 mexicanos al día.</p>
    </div>
    <div class="col-lg-7 col-lg-offset-1 col-sm-6 centrar-item">
      <ul class="ul-benef col-xs-12">
        <li><span class="badge"><img class="imgBadge" src="img-contenido/prm.gif"></span><br>Atractivas comisiones</li>
        <li><span class="badge"><img class="imgBadge" src="img-contenido/sgd.gif"></span><br>Prestaciones de ley</li>
        <li><span class="badge"><img class="imgBadge" src="img-contenido/trc.gif"></span><br>Incentivos según resultados</li>
        <li><span class="badge"><img class="imgBadge" src="img-contenido/qurt.gif"></span><br>Planes de carrera consecuenciales</li>
        <li><span class="badge"><img class="imgBadge" src="img-contenido/qnt.gif"></span><br>Crecimiento continuo</li>
        <li><span class="badge"><img class="imgBadge" src="img-contenido/sxt.svg"></span><br>Excelente ambiente de trabajo</li>
        <li><span class="badge"><img class="imgBadge" src="img-contenido/sptm.svg"></span><br>Beneficios y descuentos con otras empresas</li>
        <li><span class="badge"><img class="imgBadge" src="img-contenido/ctv.svg"></span><br>Fondo de Ahorro</li>
      </ul>
    </div>
   </div>
    </div>
  </div>
</template>

<style>
  .centrar-item{
    margin: 0 auto !important;
    display: block !important;
  }
  .espacio-up10{
    margin-top: 10px;
  }
  .espacio-abajo{
    margin-bottom: -21px;
  }
  .seccion-1{
    padding: 50px 0;
    margin: 0 auto;
  }
  .section-heading{
    margin-bottom: 30px;
  }
 .fondo-gris{
   background: #f8f8f8;
 }
 .colorblue {
   color: #0065c5;
 }
 .lead {
   font-size: 18px;
   font-weight: 400;
 }
 .ul-benef {
   list-style: none;
 }
 .ul-benef li span {
   float: none;
 }
 .ul-benef li{
   width:130px;
   height:125px;
   display:block;
   text-align:center;
   float:left;
 }
 .imgBadge {
   display: block;
   width: 70px;
   height: auto;
 }
 .badge {
   background-color: #f8f8f8;
 }
</style>
