<template>
  <div class="container-fluid img-fondo">
    <div class="container seccion-beneficios">
      <div class="row">
         <div class="col-12 col-md-12 col-lg-12">
            <h2 class="txt-titulo espacio-up30">Programas y Beneficios</h2>
         </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div role="tablist" class="espacio-up30  espacio-down30 tb-collapse">
            <b-card no-body class="mb-3">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block href="#" v-b-toggle.accordion-1 class="">Programa por nacimiento</b-button>
              </b-card-header>
              <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <b-card-text>Beneficio que puedes recibir através de una ayuda económica para recibir al nuevo integrante de tu familia.</b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>

            <b-card no-body class="mb-3">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block href="#" v-b-toggle.accordion-2 class="">Programa regreso a clases</b-button>
              </b-card-header>
              <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <b-card-text>Recibe un KIT BÁSICO de útiles escolares como beneficio si tienes hijos en primaria y/o secundaria con promedio mínimo de 8.0 al entregar copia de la boleta de calificaciones durante JULIO-AGOSTO.</b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>

            <b-card no-body class="mb-3">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block href="#" v-b-toggle.accordion-3 class="">Programa por matrimonio</b-button>
              </b-card-header>
              <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <b-card-text>Ahorra Seguros se suma a tu felicidad otorgándote una ayuda económica, sólo tienes que entregar una copia de tu acta de matrimonio.</b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>
            <b-card no-body class="mb-3">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block href="#" v-b-toggle.accordion-3 class="">Programa por defunción</b-button>
              </b-card-header>
              <b-collapse id="accordion-4" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <b-card-text>Sabemos que nadie se encuentra exento de pasar por el fallecimiento de un familiar de primer grado, padre. madre, cónyuges o hijos, por lo que te ofrecemos una ayuda económica para afrontar tal situación, sólo tienes que notificar a tu jefe directo y el área de FORMACIÓN DE TALENTO se pondrá en contacto contigo.</b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>
            <b-card no-body class="mb-3">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block href="#" v-b-toggle.accordion-3 class="">Capacitación inicial pagada (Téorica y Práctica)</b-button>
              </b-card-header>
              <b-collapse id="accordion-5" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <b-card-text>Durante las primeras 2 semanas en nuestras instalaciones, se realiza el curso de inducción con la capacitación, de lunes a viernes.</b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>
            <b-card no-body class="mb-3">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block href="#" v-b-toggle.accordion-3 class="">Capacitación Continua.</b-button>
              </b-card-header>
              <b-collapse id="accordion-6" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <b-card-text> Clinica de Ventas, enfocado a todo el personal operativo para mejorar las ventas de cada ejecutivo</b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>
            <b-card no-body class="mb-3">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block href="#" v-b-toggle.accordion-3 class="">Capacitación Técnica</b-button>
              </b-card-header>
              <b-collapse id="accordion-7" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <b-card-text>La realizan los Ejecutivos de Cuenta de cada Aseguradora además de contar con pláticas psicolaborales, realizadas por la psicoterapeuta de la empresa.</b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
  .tb-collapse{
    width: 40% !important;
    margin: 0 auto;
    display: block;
  }
  .espacio-up30{
    margin-top: 30px;
  }
  .espacio-down30{
    margin-bottom: 30px;
  }
   .img-fondo{
     background-image: url(~static/img-contenido/talento.jpg);
     background-size: cover;
   }
  .txt-titulo{
    color: white;
    text-align: center;
  }
  a.btn.btn-secondary.btn-block {
    background:  #e1e4ea;
    color: black !important;
    font-weight: 700 !important;
    border: 1px solid transparent;
  }

</style>
