<template>
  <div>
    <header-general></header-general>
    <nuxt></nuxt>
    <footer-general></footer-general>
  </div>

</template>
<script>

  import HeaderGeneral from '~/components/HeaderGeneral.vue'
  import FooterGeneral from '~/components/FooterGeneral.vue'

  export default {
    components: {
      HeaderGeneral,
      FooterGeneral
    }
  }
</script>
