<template>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <img src="img/fondosection.svg" class="img-fondo"/>
    </div>
  </div>
  <div class="row justify-content-center arriba-centrar">
    <div class="col-md-12">
      <h1 class="row justify-content-center txt-title">¡Gracias por mandar tu información a Ahorra Seguros!</h1>
    </div>
  </div>
  <div class="row justify-content-center espacio-up">
    <div class="col-md-12">
      <h5 class="row justify-content-center txt-sub">Estás a un paso de iniciar el proceso de reclutamiento.</h5>
    </div>
  </div>
  <div class="row justify-content-center espacio-up">
    <div class="col-md-12">
      <img src="img/check-icon.svg" class="icon-check">
    </div>
  </div>

</div>
</template>
<style>
  .img-fondo{
    width: 100%;
  }
  .espacio-up{
    margin-top: 25px;
  }
  .arriba-centrar{
    margin-top: 80px;
  }
  .txt-title{
    color:#014f98;
  }
  .icon-check{
    margin: 0 auto;
    display: block;
    margin-bottom: 80px;
  }
  @media(min-width:320px){
    .txt-title{
      font-size: 17px !important;
      text-align: center !important;
    }
    .txt-sub{
      text-align: center !important;
      font-size: 14px !important;
    }
    .icon-check{
      width: 55px;
      margin-bottom: 116px;
    }
  }
  @media(min-width:480px){

    .icon-check{
      width: 70px;
      margin-bottom: 140px;
    }
  }
  @media(min-width:640px){
    .txt-title{
      font-size: 23px !important;
      text-align: center !important;
    }
    .txt-sub{
      text-align: center !important;
      font-size: 18px !important;
    }
    .icon-check{
      width: 85px;
      margin-bottom: 102px;
    }
  }
  @media(min-width:768px){
    .txt-title{
      font-size: 32px !important;
      text-align: center !important;
    }
    .txt-sub{
      text-align: center !important;
      font-size: 20px !important;
    }
    .icon-check{
      width: 115px;
      margin-bottom: 60px;
    }
  }
  @media(min-width:992px){
    .txt-title{
      font-size: 32px !important;
      text-align: center !important;
    }
    .txt-sub{
      text-align: center !important;
      font-size: 20px !important;
    }
    .icon-check{
      width: 115px;
      margin-bottom: 80px;
    }
  }
</style>
