<template>
  <div class="container-fluid seccion-principal">
    <Formulario></Formulario>

    <porque-trabajar></porque-trabajar>

<!--    <programas-beneficios></programas-beneficios>-->
  </div>



</template>

<script>
  import Formulario from '~/components/Formulario.vue';
  import PorqueTrabajar from '~/components/PorqueTrabajar.vue';
  import ProgramasBeneficios from '~/components/ProgramasBeneficios.vue';
  export default {
    components: {
      PorqueTrabajar,
      Formulario,
      ProgramasBeneficios
    },
    data() {}

  }
</script>

<!--ESTILOS GENERALES-->
<style>
  body{
    background:white;
  }
  .seccion-principal {
    margin-top: 0;
    margin-bottom: 20px;
    width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

</style>
